<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ClientLibrary</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <filter>
        <filter-name>FilterLogin</filter-name>
        <filter-class>filters.FilterLogin</filter-class>
  </filter>
   <filter>
        <filter-name>FilterAdmin</filter-name>
        <filter-class>filters.FilterAdmin</filter-class>
  </filter>
   <filter-mapping>
        <filter-name>FilterLogin</filter-name>
        <servlet-name>BuyCartOperation</servlet-name>
        <servlet-name>AdminAddBook</servlet-name>
         <servlet-name>AdminViewOperations</servlet-name>
         <url-pattern>/AdminViewHistory.jsp</url-pattern>
   </filter-mapping>
   <filter-mapping>
        <filter-name>FilterAdmin</filter-name>
        <servlet-name>AdminAddBook</servlet-name>
        <servlet-name>AdminViewOperations</servlet-name>
         <url-pattern>/AdminViewHistory.jsp</url-pattern>
   </filter-mapping>
  <servlet>
    <servlet-name>LoginOperation</servlet-name>
    <servlet-class>servlets.LoginOperation</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>InitializeCartOperation</servlet-name>
    <servlet-class>servlets.InitializeCartOperation</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddBookToCart</servlet-name>
    <servlet-class>servlets.AddBookToCart</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>ListCartOperation</servlet-name>
    <servlet-class>servlets.ListCartOperation</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>LeaveCartOperation</servlet-name>
    <servlet-class>servlets.LeaveCartOperation</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>servlets.LogOut</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>BuyCartOperation</servlet-name>
    <servlet-class>servlets.BuyCartOperation</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterOperation</servlet-name>
    <servlet-class>servlets.RegisterOperation</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminAddBook</servlet-name>
    <servlet-class>servlets.AdminAddBook</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>AdminViewOperations</servlet-name>
    <servlet-class>servlets.AdminViewOperations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginOperation</servlet-name>
    <url-pattern>/LoginOperation</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>InitializeCartOperation</servlet-name>
    <url-pattern>/InitializeCartOperation</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>AddBookToCart</servlet-name>
    <url-pattern>/AddBookToCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListCartOperation</servlet-name>
    <url-pattern>/ListCartOperation</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>LeaveCartOperation</servlet-name>
    <url-pattern>/LeaveCartOperation</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>BuyCartOperation</servlet-name>
    <url-pattern>/BuyCartOperation</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>RegisterOperation</servlet-name>
    <url-pattern>/RegisterOperation</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>AdminAddBook</servlet-name>
    <url-pattern>/AdminAddBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminViewOperations</servlet-name>
    <url-pattern>/AdminViewOperations</url-pattern>
  </servlet-mapping>
   <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
  </web-app>